.box{
    background-color: rgb(221, 230, 246);
    border: 7px solid greenyellow;
    width: 99%;
    height: 15vw;
    text-align: center;
    font-size: medium;
    padding-top: 40px;
    margin: 4px 4px 10px 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

.box-for-forms-one{
    border: 7px solid red;
    height: 30vw;
    padding-top: 1vw;
    justify-self:space-around;
    text-align: left;
    font-size: x-small;
    
    
}
.box-for-forms-two{
    border: 7px solid blue;
    height: 30vw;
    padding-top: 1vw;
    font-size: medium;
    
    
}

.box-for-forms-three{
    border: 7px solid rgb(231, 31, 188);
    height: 5vw;
    margin: 1px 1px 1px 1px;

}
.box-for-forms-four{
    border: 7px solid yellow;
    height: 22vw;
    margin: 10px 1px 10px 1px;
}

.centering{
    padding: 1vw 1vw 1vw 1vw;
    
}
